In [86]:
import numpy as np
import pandas as pd

In [87]:
books  = pd.read_csv("/home/ananthu/machine_learning/ai_recomendation_library/data/books_data/book.csv", on_bad_lines='warn')
books.head()

Skipping line 6452: expected 8 fields, saw 14
Skipping line 10824: expected 8 fields, saw 14
Skipping line 14769: expected 8 fields, saw 14
Skipping line 14936: expected 8 fields, saw 14
Skipping line 15690: expected 8 fields, saw 14
Skipping line 17320: expected 8 fields, saw 14
Skipping line 18095: expected 8 fields, saw 14
Skipping line 28443: expected 8 fields, saw 14
Skipping line 33098: expected 8 fields, saw 14
Skipping line 36394: expected 8 fields, saw 14
Skipping line 42628: expected 8 fields, saw 14
Skipping line 43667: expected 8 fields, saw 14
Skipping line 51751: expected 8 fields, saw 14
Skipping line 52174: expected 8 fields, saw 14
Skipping line 56901: expected 8 fields, saw 14
Skipping line 58600: expected 8 fields, saw 14
Skipping line 60739: expected 8 fields, saw 14

Skipping line 65756: expected 8 fields, saw 14
Skipping line 67924: expected 8 fields, saw 14
Skipping line 68134: expected 8 fields, saw 14
Skipping line 70764: expected 8 fields, saw 14
Skipping line 72572: expected 8 fields, saw 14
Skipping line 74291: expected 8 fields, saw 14
Skipping line 77336: expected 8 fields, saw 14
Skipping line 79974: expected 8 fields, saw 14
Skipping line 88000: expected 8 fields, saw 14
Skipping line 88698: expected 8 fields, saw 14
Skipping line 88980: expected 8 fields, saw 14
Skipping line 90210: expected 8 fields, saw 14
Skipping line 92038: expected 8 fields, saw 14
Skipping line 93118: expected 8 fields, saw 14
Skipping line 94130: expected 8 fields, saw 14
Skipping line 95058: expected 8 fields, saw 14
Skipping line 102341: expected 8 fields, saw 14
Skipping line 104082: expected 8 fields, saw 14
Skipping line 104319: expected 8 fields, saw 14
Skipping line 105641: expected 8 fields, saw 14
Skipping line 106183: expected 8 fields, saw 14
Skipping line 108529: expected 8 fields, saw 14
Skipping line 108900: expected 8 fields, saw 14
Skipping line 109643: expected 8 fields, saw 14
Skipping line 114070: expected 8 fields, saw 14
Skipping line 116049: expected 8 fields, saw 14
Skipping line 119548: expected 8 fields, saw 14
Skipping line 121768: expected 8 fields, saw 14
Skipping line 123756: expected 8 fields, saw 14
Skipping line 127265: expected 8 fields, saw 14
Skipping line 128631: expected 8 fields, saw 14
Skipping line 130794: expected 8 fields, saw 14

Skipping line 131589: expected 8 fields, saw 14
Skipping line 135121: expected 8 fields, saw 14
Skipping line 137613: expected 8 fields, saw 14
Skipping line 137965: expected 8 fields, saw 14
Skipping line 141433: expected 8 fields, saw 14
Skipping line 141437: expected 8 fields, saw 14
Skipping line 144058: expected 8 fields, saw 14
Skipping line 147368: expected 8 fields, saw 14
Skipping line 147902: expected 8 fields, saw 14
Skipping line 150789: expected 8 fields, saw 14
Skipping line 152662: expected 8 fields, saw 14
Skipping line 154679: expected 8 fields, saw 14
Skipping line 157128: expected 8 fields, saw 14
Skipping line 161889: expected 8 fields, saw 14
Skipping line 165306: expected 8 fields, saw 14
Skipping line 167342: expected 8 fields, saw 14
Skipping line 169037: expected 8 fields, saw 14
Skipping line 170503: expected 8 fields, saw 14
Skipping line 172648: expected 8 fields, saw 14
Skipping line 173779: expected 8 fields, saw 14
Skipping line 180189: expected 8 fields, saw 14
Skipping line 180664: expected 8 fields, saw 14
Skipping line 185738: expected 8 fields, saw 14
Skipping line 185882: expected 8 fields, saw 14
Skipping line 188934: expected 8 fields, saw 14
Skipping line 193160: expected 8 fields, saw 14
Skipping line 193583: expected 8 fields, saw 14
Skipping line 195879: expected 8 fields, saw 14
Skipping line 196652: expected 8 fields, saw 14

Skipping line 197950: expected 8 fields, saw 14
Skipping line 198109: expected 8 fields, saw 14
Skipping line 207489: expected 8 fields, saw 14
Skipping line 208011: expected 8 fields, saw 14
Skipping line 208474: expected 8 fields, saw 14
Skipping line 209388: expected 8 fields, saw 14
Skipping line 211908: expected 8 fields, saw 14
Skipping line 212579: expected 8 fields, saw 14
Skipping line 214872: expected 8 fields, saw 14
Skipping line 216364: expected 8 fields, saw 14
Skipping line 219797: expected 8 fields, saw 14
Skipping line 219926: expected 8 fields, saw 14
Skipping line 220330: expected 8 fields, saw 14
Skipping line 220626: expected 8 fields, saw 14
Skipping line 221180: expected 8 fields, saw 14
Skipping line 221502: expected 8 fields, saw 14
Skipping line 227933: expected 8 fields, saw 14
Skipping line 228687: expected 8 fields, saw 14
Skipping line 228957: expected 8 fields, saw 14
Skipping line 229655: expected 8 fields, saw 14
Skipping line 232561: expected 8 fields, saw 14
Skipping line 238333: expected 8 fields, saw 14
Skipping line 238927: expected 8 fields, saw 14
Skipping line 239775: expected 8 fields, saw 14
Skipping line 241757: expected 8 fields, saw 14
Skipping line 244864: expected 8 fields, saw 14
Skipping line 245414: expected 8 fields, saw 14
Skipping line 245933: expected 8 fields, saw 14
Skipping line 246351: expected 8 fields, saw 14
Skipping line 251296: expected 8 fields, saw 14
Skipping line 251297: expected 8 fields, saw 14
Skipping line 253930: expected 8 fields, saw 14
Skipping line 259941: expected 8 fields, saw 14
Skipping line 260581: expected 8 fields, saw 14
Skipping line 261529: expected 8 fields, saw 14

Skipping line 267207: expected 8 fields, saw 14
Skipping line 269121: expected 8 fields, saw 14

/tmp/ipykernel_6905/3307023652.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books  = pd.read_csv("/home/ananthu/machine_learning/ai_recomendation_library/data/books_data/book.csv", on_bad_lines='warn')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,"W. W. Norton &amp, Company",http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [88]:
print(books.shape)

(271264, 8)

In [89]:
books = books.drop(columns=['Image-URL-L','Image-URL-S','Image-URL-M'])
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,"W. W. Norton &amp, Company"

In [90]:
users  = pd.read_csv("/home/ananthu/machine_learning/ai_recomendation_library/data/books_data/user.csv", on_bad_lines='warn')
users.head()

Skipping line 269: expected 4 fields, saw 6
Skipping line 1104: expected 4 fields, saw 6
Skipping line 1274: expected 4 fields, saw 6
Skipping line 1696: expected 4 fields, saw 6
Skipping line 1703: expected 4 fields, saw 6
Skipping line 1999: expected 4 fields, saw 6
Skipping line 2300: expected 4 fields, saw 6
Skipping line 2450: expected 4 fields, saw 6
Skipping line 2577: expected 4 fields, saw 6
Skipping line 2665: expected 4 fields, saw 6
Skipping line 2713: expected 4 fields, saw 6
Skipping line 2728: expected 4 fields, saw 6
Skipping line 2818: expected 4 fields, saw 6
Skipping line 2870: expected 4 fields, saw 6
Skipping line 2939: expected 4 fields, saw 6
Skipping line 2997: expected 4 fields, saw 6
Skipping line 3403: expected 4 fields, saw 6
Skipping line 3934: expected 4 fields, saw 6
Skipping line 4341: expected 4 fields, saw 6
Skipping line 4445: expected 4 fields, saw 6
Skipping line 4640: expected 4 fields, saw 6
Skipping line 4756: expected 4 fields, saw 6
Skipping line 5112: expected 4 fields, saw 6
Skipping line 5210: expected 4 fields, saw 6
Skipping line 5420: expected 4 fields, saw 6
Skipping line 5533: expected 4 fields, saw 6
Skipping line 6416: expected 4 fields, saw 6
Skipping line 7146: expected 4 fields, saw 6
Skipping line 7861: expected 4 fields, saw 6
Skipping line 8430: expected 4 fields, saw 6
Skipping line 8518: expected 4 fields, saw 6
Skipping line 8611: expected 4 fields, saw 6
Skipping line 8675: expected 4 fields, saw 6
Skipping line 8725: expected 4 fields, saw 6
Skipping line 8876: expected 4 fields, saw 6
Skipping line 10046: expected 4 fields, saw 6
Skipping line 10277: expected 4 fields, saw 6
Skipping line 10724: expected 4 fields, saw 6
Skipping line 10743: expected 4 fields, saw 6
Skipping line 10872: expected 4 fields, saw 6
Skipping line 10883: expected 4 fields, saw 6
Skipping line 11469: expected 4 fields, saw 6
Skipping line 11977: expected 4 fields, saw 6
Skipping line 12036: expected 4 fields, saw 6
Skipping line 12985: expected 4 fields, saw 6
Skipping line 13942: expected 4 fields, saw 6
Skipping line 14066: expected 4 fields, saw 6
Skipping line 14649: expected 4 fields, saw 6
Skipping line 14962: expected 4 fields, saw 6
Skipping line 15283: expected 4 fields, saw 6
Skipping line 15973: expected 4 fields, saw 6
Skipping line 16915: expected 4 fields, saw 6
Skipping line 17239: expected 4 fields, saw 6
Skipping line 18018: expected 4 fields, saw 6
Skipping line 18303: expected 4 fields, saw 6
Skipping line 18582: expected 4 fields, saw 6
Skipping line 18757: expected 4 fields, saw 6
Skipping line 19479: expected 4 fields, saw 6
Skipping line 20044: expected 4 fields, saw 6
Skipping line 20132: expected 4 fields, saw 6
Skipping line 20406: expected 4 fields, saw 6
Skipping line 20423: expected 4 fields, saw 6
Skipping line 20610: expected 4 fields, saw 6
Skipping line 22160: expected 4 fields, saw 6
Skipping line 22286: expected 4 fields, saw 6
Skipping line 22636: expected 4 fields, saw 6
Skipping line 22647: expected 4 fields, saw 6
Skipping line 23398: expected 4 fields, saw 6
Skipping line 25342: expected 4 fields, saw 6
Skipping line 26062: expected 4 fields, saw 6
Skipping line 26895: expected 4 fields, saw 6
Skipping line 27044: expected 4 fields, saw 6
Skipping line 27555: expected 4 fields, saw 6
Skipping line 27736: expected 4 fields, saw 6
Skipping line 28599: expected 4 fields, saw 6
Skipping line 29253: expected 4 fields, saw 6
Skipping line 29311: expected 4 fields, saw 6
Skipping line 29533: expected 4 fields, saw 6
Skipping line 29684: expected 4 fields, saw 6
Skipping line 30230: expected 4 fields, saw 6
Skipping line 31604: expected 4 fields, saw 6
Skipping line 32122: expected 4 fields, saw 6
Skipping line 32421: expected 4 fields, saw 6
Skipping line 33977: expected 4 fields, saw 6
Skipping line 34213: expected 4 fields, saw 6
Skipping line 34883: expected 4 fields, saw 6
Skipping line 35599: expected 4 fields, saw 6
Skipping line 36007: expected 4 fields, saw 6
Skipping line 36331: expected 4 fields, saw 6
Skipping line 36655: expected 4 fields, saw 6
Skipping line 37016: expected 4 fields, saw 6
Skipping line 37284: expected 4 fields, saw 6
Skipping line 37302: expected 4 fields, saw 6
Skipping line 38156: expected 4 fields, saw 6
Skipping line 38728: expected 4 fields, saw 6
Skipping line 38773: expected 4 fields, saw 6
Skipping line 39131: expected 4 fields, saw 6
Skipping line 39432: expected 4 fields, saw 6
Skipping line 39773: expected 4 fields, saw 6
Skipping line 39805: expected 4 fields, saw 6
Skipping line 39820: expected 4 fields, saw 6
Skipping line 39957: expected 4 fields, saw 6
Skipping line 40653: expected 4 fields, saw 6
Skipping line 41163: expected 4 fields, saw 6
Skipping line 41614: expected 4 fields, saw 6
Skipping line 42603: expected 4 fields, saw 6
Skipping line 43681: expected 4 fields, saw 6
Skipping line 46510: expected 4 fields, saw 6
Skipping line 46562: expected 4 fields, saw 6
Skipping line 47272: expected 4 fields, saw 6
Skipping line 48581: expected 4 fields, saw 6
Skipping line 48632: expected 4 fields, saw 6
Skipping line 48888: expected 4 fields, saw 6
Skipping line 48894: expected 4 fields, saw 6
Skipping line 49003: expected 4 fields, saw 6
Skipping line 49518: expected 4 fields, saw 6
Skipping line 49536: expected 4 fields, saw 6
Skipping line 50474: expected 4 fields, saw 6
Skipping line 50989: expected 4 fields, saw 6
Skipping line 51056: expected 4 fields, saw 6
Skipping line 52819: expected 4 fields, saw 6
Skipping line 52847: expected 4 fields, saw 6
Skipping line 53187: expected 4 fields, saw 6
Skipping line 54109: expected 4 fields, saw 6
Skipping line 54885: expected 4 fields, saw 6
Skipping line 55210: expected 4 fields, saw 6
Skipping line 55679: expected 4 fields, saw 6
Skipping line 56015: expected 4 fields, saw 6
Skipping line 56218: expected 4 fields, saw 6
Skipping line 56331: expected 4 fields, saw 6
Skipping line 56939: expected 4 fields, saw 6
Skipping line 58504: expected 4 fields, saw 6
Skipping line 59765: expected 4 fields, saw 6
Skipping line 59773: expected 4 fields, saw 6
Skipping line 60957: expected 4 fields, saw 6
Skipping line 61940: expected 4 fields, saw 6
Skipping line 62384: expected 4 fields, saw 6
Skipping line 62852: expected 4 fields, saw 6
Skipping line 63601: expected 4 fields, saw 6
Skipping line 63613: expected 4 fields, saw 6
Skipping line 63634: expected 4 fields, saw 6
Skipping line 64130: expected 4 fields, saw 6
Skipping line 64187: expected 4 fields, saw 6
Skipping line 65668: expected 4 fields, saw 6
Skipping line 65870: expected 4 fields, saw 6
Skipping line 65897: expected 4 fields, saw 6
Skipping line 66290: expected 4 fields, saw 6
Skipping line 66508: expected 4 fields, saw 6
Skipping line 66865: expected 4 fields, saw 6
Skipping line 69341: expected 4 fields, saw 6
Skipping line 70304: expected 4 fields, saw 6
Skipping line 72128: expected 4 fields, saw 6
Skipping line 72245: expected 4 fields, saw 6
Skipping line 72297: expected 4 fields, saw 6
Skipping line 72397: expected 4 fields, saw 6
Skipping line 72592: expected 4 fields, saw 6
Skipping line 73225: expected 4 fields, saw 6
Skipping line 73942: expected 4 fields, saw 6
Skipping line 74790: expected 4 fields, saw 6
Skipping line 75325: expected 4 fields, saw 6
Skipping line 76436: expected 4 fields, saw 6
Skipping line 76518: expected 4 fields, saw 6
Skipping line 76752: expected 4 fields, saw 6
Skipping line 77024: expected 4 fields, saw 6
Skipping line 77591: expected 4 fields, saw 6
Skipping line 78688: expected 4 fields, saw 6
Skipping line 78839: expected 4 fields, saw 6
Skipping line 78965: expected 4 fields, saw 6
Skipping line 79143: expected 4 fields, saw 6
Skipping line 79385: expected 4 fields, saw 6
Skipping line 79467: expected 4 fields, saw 6
Skipping line 80169: expected 4 fields, saw 6
Skipping line 80339: expected 4 fields, saw 6
Skipping line 80501: expected 4 fields, saw 6
Skipping line 81720: expected 4 fields, saw 6
Skipping line 82533: expected 4 fields, saw 6
Skipping line 82589: expected 4 fields, saw 6
Skipping line 82745: expected 4 fields, saw 6
Skipping line 83100: expected 4 fields, saw 6
Skipping line 83368: expected 4 fields, saw 6
Skipping line 83520: expected 4 fields, saw 6
Skipping line 83720: expected 4 fields, saw 6
Skipping line 84300: expected 4 fields, saw 6
Skipping line 84361: expected 4 fields, saw 6
Skipping line 84859: expected 4 fields, saw 6
Skipping line 84863: expected 4 fields, saw 6
Skipping line 84984: expected 4 fields, saw 6
Skipping line 85642: expected 4 fields, saw 6
Skipping line 86906: expected 4 fields, saw 6
Skipping line 86932: expected 4 fields, saw 6
Skipping line 87027: expected 4 fields, saw 6
Skipping line 87181: expected 4 fields, saw 6
Skipping line 87232: expected 4 fields, saw 6
Skipping line 87315: expected 4 fields, saw 6
Skipping line 87555: expected 4 fields, saw 6
Skipping line 87786: expected 4 fields, saw 6
Skipping line 87788: expected 4 fields, saw 6
Skipping line 88259: expected 4 fields, saw 6
Skipping line 89247: expected 4 fields, saw 6
Skipping line 89545: expected 4 fields, saw 6
Skipping line 90260: expected 4 fields, saw 6
Skipping line 91511: expected 4 fields, saw 6
Skipping line 91698: expected 4 fields, saw 6
Skipping line 92528: expected 4 fields, saw 6
Skipping line 92926: expected 4 fields, saw 6
Skipping line 93058: expected 4 fields, saw 6
Skipping line 94804: expected 4 fields, saw 6
Skipping line 94868: expected 4 fields, saw 6
Skipping line 95212: expected 4 fields, saw 6
Skipping line 95276: expected 4 fields, saw 6
Skipping line 95321: expected 4 fields, saw 6
Skipping line 95538: expected 4 fields, saw 6
Skipping line 95781: expected 4 fields, saw 6
Skipping line 95872: expected 4 fields, saw 6
Skipping line 95969: expected 4 fields, saw 6
Skipping line 95986: expected 4 fields, saw 6
Skipping line 96094: expected 4 fields, saw 6
Skipping line 96103: expected 4 fields, saw 6
Skipping line 96466: expected 4 fields, saw 6
Skipping line 96780: expected 4 fields, saw 6
Skipping line 96937: expected 4 fields, saw 6
Skipping line 97120: expected 4 fields, saw 6
Skipping line 97356: expected 4 fields, saw 6
Skipping line 97721: expected 4 fields, saw 6
Skipping line 97890: expected 4 fields, saw 6
Skipping line 98581: expected 4 fields, saw 6
Skipping line 98694: expected 4 fields, saw 6
Skipping line 99124: expected 4 fields, saw 6
Skipping line 99979: expected 4 fields, saw 6
Skipping line 100172: expected 4 fields, saw 6
Skipping line 100179: expected 4 fields, saw 6
Skipping line 100643: expected 4 fields, saw 6
Skipping line 101073: expected 4 fields, saw 6
Skipping line 101450: expected 4 fields, saw 6
Skipping line 101534: expected 4 fields, saw 6
Skipping line 101775: expected 4 fields, saw 6
Skipping line 101812: expected 4 fields, saw 6
Skipping line 102566: expected 4 fields, saw 6
Skipping line 102601: expected 4 fields, saw 6
Skipping line 102742: expected 4 fields, saw 6
Skipping line 103496: expected 4 fields, saw 6
Skipping line 103604: expected 4 fields, saw 6
Skipping line 103809: expected 4 fields, saw 6
Skipping line 104032: expected 4 fields, saw 6
Skipping line 104089: expected 4 fields, saw 6
Skipping line 104191: expected 4 fields, saw 6
Skipping line 104213: expected 4 fields, saw 6
Skipping line 104318: expected 4 fields, saw 6
Skipping line 104794: expected 4 fields, saw 6
Skipping line 104884: expected 4 fields, saw 6
Skipping line 104997: expected 4 fields, saw 6
Skipping line 105064: expected 4 fields, saw 6
Skipping line 105394: expected 4 fields, saw 6
Skipping line 106030: expected 4 fields, saw 6
Skipping line 106709: expected 4 fields, saw 6
Skipping line 107028: expected 4 fields, saw 6
Skipping line 107555: expected 4 fields, saw 6
Skipping line 107740: expected 4 fields, saw 6
Skipping line 108062: expected 4 fields, saw 6
Skipping line 108301: expected 4 fields, saw 6
Skipping line 109297: expected 4 fields, saw 6
Skipping line 109373: expected 4 fields, saw 6
Skipping line 109493: expected 4 fields, saw 6
Skipping line 111186: expected 4 fields, saw 6
Skipping line 112056: expected 4 fields, saw 6
Skipping line 112723: expected 4 fields, saw 6
Skipping line 113549: expected 4 fields, saw 6
Skipping line 114085: expected 4 fields, saw 6
Skipping line 114130: expected 4 fields, saw 6
Skipping line 115216: expected 4 fields, saw 6
Skipping line 116550: expected 4 fields, saw 6
Skipping line 116799: expected 4 fields, saw 6
Skipping line 116990: expected 4 fields, saw 6
Skipping line 117157: expected 4 fields, saw 6
Skipping line 118107: expected 4 fields, saw 6
Skipping line 118236: expected 4 fields, saw 6
Skipping line 118243: expected 4 fields, saw 6
Skipping line 118312: expected 4 fields, saw 6
Skipping line 118511: expected 4 fields, saw 6
Skipping line 118601: expected 4 fields, saw 6
Skipping line 119008: expected 4 fields, saw 6
Skipping line 119306: expected 4 fields, saw 6
Skipping line 119626: expected 4 fields, saw 6
Skipping line 119743: expected 4 fields, saw 6
Skipping line 119804: expected 4 fields, saw 6
Skipping line 120105: expected 4 fields, saw 6
Skipping line 120242: expected 4 fields, saw 6
Skipping line 120255: expected 4 fields, saw 6
Skipping line 120497: expected 4 fields, saw 6
Skipping line 121903: expected 4 fields, saw 6
Skipping line 122035: expected 4 fields, saw 6
Skipping line 122065: expected 4 fields, saw 6
Skipping line 122343: expected 4 fields, saw 6
Skipping line 122936: expected 4 fields, saw 6
Skipping line 124169: expected 4 fields, saw 6
Skipping line 124491: expected 4 fields, saw 6
Skipping line 124845: expected 4 fields, saw 6
Skipping line 124912: expected 4 fields, saw 6
Skipping line 125320: expected 4 fields, saw 6
Skipping line 125368: expected 4 fields, saw 6
Skipping line 125414: expected 4 fields, saw 6
Skipping line 125768: expected 4 fields, saw 6
Skipping line 125819: expected 4 fields, saw 6
Skipping line 126571: expected 4 fields, saw 6
Skipping line 126771: expected 4 fields, saw 6
Skipping line 126890: expected 4 fields, saw 6
Skipping line 127697: expected 4 fields, saw 6
Skipping line 127962: expected 4 fields, saw 6
Skipping line 130720: expected 4 fields, saw 6
Skipping line 130892: expected 4 fields, saw 6
Skipping line 131288: expected 4 fields, saw 6
Skipping line 131310: expected 4 fields, saw 6

Skipping line 131585: expected 4 fields, saw 6
Skipping line 131813: expected 4 fields, saw 6
Skipping line 132391: expected 4 fields, saw 6
Skipping line 132996: expected 4 fields, saw 6
Skipping line 133880: expected 4 fields, saw 6
Skipping line 134516: expected 4 fields, saw 6
Skipping line 134606: expected 4 fields, saw 6
Skipping line 136490: expected 4 fields, saw 6
Skipping line 136699: expected 4 fields, saw 6
Skipping line 136846: expected 4 fields, saw 6
Skipping line 136881: expected 4 fields, saw 6
Skipping line 137245: expected 4 fields, saw 6
Skipping line 137484: expected 4 fields, saw 6
Skipping line 138480: expected 4 fields, saw 6
Skipping line 138537: expected 4 fields, saw 6
Skipping line 138835: expected 4 fields, saw 6
Skipping line 140112: expected 4 fields, saw 6
Skipping line 140371: expected 4 fields, saw 6
Skipping line 140978: expected 4 fields, saw 6
Skipping line 141223: expected 4 fields, saw 6
Skipping line 141822: expected 4 fields, saw 6
Skipping line 142166: expected 4 fields, saw 6
Skipping line 142207: expected 4 fields, saw 6
Skipping line 142358: expected 4 fields, saw 6
Skipping line 142486: expected 4 fields, saw 6
Skipping line 143064: expected 4 fields, saw 6
Skipping line 143476: expected 4 fields, saw 6
Skipping line 143921: expected 4 fields, saw 6
Skipping line 144095: expected 4 fields, saw 6
Skipping line 145407: expected 4 fields, saw 6
Skipping line 145557: expected 4 fields, saw 6
Skipping line 146101: expected 4 fields, saw 6
Skipping line 147048: expected 4 fields, saw 6
Skipping line 147078: expected 4 fields, saw 6
Skipping line 147278: expected 4 fields, saw 6
Skipping line 148211: expected 4 fields, saw 6
Skipping line 149814: expected 4 fields, saw 6
Skipping line 150429: expected 4 fields, saw 6
Skipping line 150721: expected 4 fields, saw 6
Skipping line 151444: expected 4 fields, saw 6
Skipping line 152118: expected 4 fields, saw 6
Skipping line 153122: expected 4 fields, saw 6
Skipping line 153423: expected 4 fields, saw 6
Skipping line 153733: expected 4 fields, saw 6
Skipping line 154105: expected 4 fields, saw 6
Skipping line 154141: expected 4 fields, saw 6
Skipping line 154274: expected 4 fields, saw 6
Skipping line 154352: expected 4 fields, saw 6
Skipping line 154492: expected 4 fields, saw 6
Skipping line 154964: expected 4 fields, saw 6
Skipping line 155139: expected 4 fields, saw 6
Skipping line 155574: expected 4 fields, saw 6
Skipping line 155610: expected 4 fields, saw 6
Skipping line 155899: expected 4 fields, saw 6
Skipping line 155974: expected 4 fields, saw 6
Skipping line 156467: expected 4 fields, saw 6
Skipping line 156612: expected 4 fields, saw 6
Skipping line 156615: expected 4 fields, saw 6
Skipping line 156723: expected 4 fields, saw 6
Skipping line 156776: expected 4 fields, saw 6
Skipping line 156853: expected 4 fields, saw 6
Skipping line 156879: expected 4 fields, saw 6
Skipping line 156894: expected 4 fields, saw 6
Skipping line 156912: expected 4 fields, saw 6
Skipping line 157521: expected 4 fields, saw 6
Skipping line 157552: expected 4 fields, saw 6
Skipping line 157889: expected 4 fields, saw 6
Skipping line 158158: expected 4 fields, saw 6
Skipping line 159076: expected 4 fields, saw 6
Skipping line 159178: expected 4 fields, saw 6
Skipping line 159427: expected 4 fields, saw 6
Skipping line 159435: expected 4 fields, saw 6
Skipping line 160135: expected 4 fields, saw 6
Skipping line 160329: expected 4 fields, saw 6
Skipping line 160501: expected 4 fields, saw 6
Skipping line 161010: expected 4 fields, saw 6
Skipping line 161053: expected 4 fields, saw 6
Skipping line 161604: expected 4 fields, saw 6
Skipping line 163220: expected 4 fields, saw 6
Skipping line 163586: expected 4 fields, saw 6
Skipping line 163974: expected 4 fields, saw 6
Skipping line 164118: expected 4 fields, saw 6
Skipping line 164321: expected 4 fields, saw 6
Skipping line 164496: expected 4 fields, saw 6
Skipping line 164583: expected 4 fields, saw 6
Skipping line 164833: expected 4 fields, saw 6
Skipping line 165120: expected 4 fields, saw 6
Skipping line 165328: expected 4 fields, saw 6
Skipping line 165332: expected 4 fields, saw 6
Skipping line 165525: expected 4 fields, saw 6
Skipping line 166341: expected 4 fields, saw 6
Skipping line 166346: expected 4 fields, saw 6
Skipping line 166636: expected 4 fields, saw 6
Skipping line 166687: expected 4 fields, saw 6
Skipping line 166761: expected 4 fields, saw 6
Skipping line 167060: expected 4 fields, saw 6
Skipping line 167159: expected 4 fields, saw 6
Skipping line 167220: expected 4 fields, saw 6
Skipping line 168192: expected 4 fields, saw 6
Skipping line 169872: expected 4 fields, saw 6
Skipping line 170141: expected 4 fields, saw 6
Skipping line 171006: expected 4 fields, saw 6
Skipping line 171159: expected 4 fields, saw 6
Skipping line 171321: expected 4 fields, saw 6
Skipping line 171712: expected 4 fields, saw 6
Skipping line 172516: expected 4 fields, saw 6
Skipping line 175978: expected 4 fields, saw 6
Skipping line 176128: expected 4 fields, saw 6
Skipping line 176313: expected 4 fields, saw 6
Skipping line 177623: expected 4 fields, saw 6
Skipping line 177743: expected 4 fields, saw 6
Skipping line 178527: expected 4 fields, saw 6
Skipping line 178614: expected 4 fields, saw 6
Skipping line 178785: expected 4 fields, saw 6
Skipping line 179600: expected 4 fields, saw 6
Skipping line 179608: expected 4 fields, saw 6
Skipping line 179809: expected 4 fields, saw 6
Skipping line 179898: expected 4 fields, saw 6
Skipping line 180175: expected 4 fields, saw 6

   User-ID                            Location  Age  Unnamed: 3
0        1                  nyc, new york, usa  NaN         NaN
1        2           stockton, california, usa   18         NaN
2        3     moscow, yukon territory, russia  NaN         NaN
3        4           porto, v.n.gaia, portugal   17         NaN
4        5  farnborough, hants, united kingdom  NaN         NaN

In [91]:
users = users.drop(columns=['Unnamed: 3'])
users.head()

   User-ID                            Location  Age
0        1                  nyc, new york, usa  NaN
1        2           stockton, california, usa   18
2        3     moscow, yukon territory, russia  NaN
3        4           porto, v.n.gaia, portugal   17
4        5  farnborough, hants, united kingdom  NaN

In [92]:
print(users.shape)

(278176, 3)

In [93]:
ratings  = pd.read_csv("/home/ananthu/machine_learning/ai_recomendation_library/data/books_data/rating.csv", on_bad_lines='warn')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726   155061224            5
2   276727   446520802            0
3   276729  052165615X            3
4   276729   521795028            6

In [94]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271264, 5)
(278176, 3)
(1048575, 3)

In [95]:
ratings['User-ID'].value_counts()

User-ID
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
104999        1
105002        1
105008        1
105014        1
123969        1
Name: count, Length: 95513, dtype: int64

In [96]:
print(ratings['User-ID'].unique().shape)

(95513,)

In [97]:
data = ratings['User-ID'].value_counts() > 200
print(data[data].shape)

(815,)

In [98]:
y = data[data].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
        88793,  33145, 116122,   9856,  73681,  28634,  59727, 188951, 155916,
        44296],
      dtype='int64', name='User-ID', length=815)

In [99]:
ratings=ratings[ratings['User-ID'].isin(y)]
ratings.head()

      User-ID        ISBN  Book-Rating
1456   277427  002542730X           10
1457   277427    26217457            0
1458   277427  003008685X            8
1459   277427    30615321            0
1460   277427    60002050            0

In [100]:
df = ratings.merge(books,on = "ISBN")
df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc"
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc"
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc"
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc"
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc"
...,...,...,...,...,...,...,...
446763,250764,440236681,0,Empires of Sand,David W. Ball,2001,Dell Publishing Company
446764,250764,451157516,0,"Cheyenne (Fortunes West, No 2)",A.R. Riefe,1988,New Amer Library (Mm)
446765,250764,048623715X,0,Glamorous Movie Stars of the Thirties: Paper D...,Tom Tierney,1982,Dover Publications
446766,250764,486256588,0,Schiaparelli Fashion Review: Paper Dolls in Fu...,Tom Tierney,1988,Dover Publications
446767,250764,515069434,0,Lady Laughing Eyes (To Have and to Hold),Lee Damon,1984,Jove Books

In [101]:
num_ratings = df.groupby('Book-Title')['Book-Rating'].count().reset_index()
num_ratings.head()

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...            2
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Beyond IBM: Leadership Marketing and Finance ...            1
4   Clifford Visita El Hospital (Clifford El Gran...            1

In [102]:
num_ratings.rename(columns={'Book-Rating':'no_of_ratings'},inplace=True)
num_ratings.head()

                                          Book-Title  no_of_ratings
0   A Light in the Storm: The Civil War Diary of ...              2
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [103]:
df = df.merge(num_ratings,on ='Book-Title')
df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,no_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74

In [104]:
print(df.shape)

(446768, 8)

In [105]:
df = df[df['no_of_ratings']>50]
print(df.shape)
df.head()

(49651, 8)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,no_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74

In [108]:
df.drop_duplicates(['User-ID','Book-Title'],inplace=True)
print(df.shape)
df.head()

(47905, 8)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,no_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,"John Wiley &amp, Sons Inc",74